<ul style="font-weight: normal">
    <li><a href="http://reverland.bitbucket.org" target="_blank">my残念的vimwiki</a></li>
    <li><a href="http://www.soimort.org" target="_blank">Soimort</a></li>
    <li><a href="http://xuyupeng.tk" target="_blank">fengya90的主页</a></li>
    <li><a href="http://wych.me" target="_blank">wych's blog</a></li>
    <li><a href="http://www.seainsight.me/" target="_blank">Nautilus</a></li>
    <li><a href="http://gndrive.org/" target="_blank">GUNDAM digital laboratory</a></li>
    <li><a href="http://liutos.github.com/" target="_blank">Liutos的个人博客</a></li>
    <li><a href="http://aeropig.me" target="_blank">空谷余音</a></li>
    <li><a href="http://www.5dimn.com/" target="_blank">减五度Quinta Diminuita</a></li>

</ul>
